@charset "UTF-8";

.header-area {
    box-sizing: border-box;
    border-width:2px;
    border-color:#0014ff;
    border-style:solid;
    background-color: rgba(217,193,156,0.78);
    margin-bottom: 10px;
}

.header-title {
    box-sizing: border-box;
    display: inline-block;
    color: #ff0013;
    margin: 10px;
}

.nav-pane {
    box-sizing: border-box;
    display: inline-block;
    margin-left: 80px;
}

.nav-button {
    display: inline-block;
    margin: 10px;
}
.sms-content {
    border-width:2px;
    border-color:#157d14;
    border-style:solid;
}

.sms-footer {
    border-width:2px;
    border-color:#ff0013;
    border-style:solid;
}
